<header>
  <a class="logotype" routerLink="feed" routerLinkActive="active"
     [routerLinkActiveOptions]="{exact:true}">
    <svg width="130" height="39" viewBox="0 0 130 39">
      <use xlink:href="assets/svg/logo-img.svg#logo"></use>
    </svg>
  </a>
  <div class="input-group">
    <form name="SearchForm">
      <label>
        <svg width="16" height="16" viewBox="0 0 24 24">
          <use xlink:href="assets/svg/search-icon.svg#search"></use>
        </svg>
      </label>
      <input type="text" class="input-control" placeholder="Company name"/>
    </form>
  </div>
  <ul class="buttons">
    <li>
      <svg width="28" height="24" viewBox="0 0 28 24">
        <use xlink:href="assets/svg/chat-icon.svg#chat"></use>
      </svg>
    </li>
    <li>
      <svg width="24" height="24" viewBox="0 0 24 24">
        <use xlink:href="assets/svg/notifications-icon.svg#notifications"></use>
      </svg>
    </li>
  </ul>
  <div id="logged-user">
    <div id="logged-user-img" [ngStyle]="avatarStyle"></div>
    <p>{{user.firstName}} {{user.lastName}}</p>
    <ul class="dropdown-menu">
      <li class="dropdown-menu-item">
        <a routerLink="feed" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact:true}">
          <p>My profile</p>
          <svg width="16" height="19" viewBox="0 0 16 19">
            <use xlink:href="assets/svg/profile-icon.svg#profile"></use>
          </svg>
        </a>
      </li>
      <li class="dropdown-menu-item">
        <a routerLink="feed" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact:true}">
          <p>Settings</p>
          <svg width="19" height="20" viewBox="0 0 19 20">
            <use xlink:href="assets/svg/settings-icon.svg#settings"></use>
          </svg>
        </a>
      </li>
      <li class="dropdown-menu-item">
        <a routerLink="../support" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact:true}">
          <p>Support</p>
          <svg width="18" height="21" viewBox="0 0 18 21">
            <use xlink:href="assets/svg/support-icon.svg#support"></use>
          </svg>
        </a>
      </li>
      <li class="dropdown-menu-item">
        <a routerLink="feed" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact:true}">
          <p>Help</p>
          <svg width="20" height="20" viewBox="0 0 20 20">
            <use xlink:href="assets/svg/help-icon.svg#help"></use>
          </svg>
        </a>
      </li>
      <li class="dropdown-menu-item">
        <a routerLink="feed" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact:true}">
          <p>Sign out</p>
          <svg width="20" height="20" viewBox="0 0 24 24">
            <use xlink:href="assets/svg/signout-icon.svg#signout"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
