<nav id="navigation-bar">
  <ul class="navigation">
    <li class="nav-element">
      <a routerLink="feed" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}">
        <svg width="28" height="28">
          <use xlink:href="assets/svg/feed-icon.svg#feed"></use>
        </svg>
        <p>Feed</p>
      </a>
    </li>
    <li class="nav-element">
      <a routerLink="colleague" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}">
        <svg width="28" height="28">
          <use xlink:href="assets/svg/ask-icon.svg#ask"></use>
        </svg>
        <p>Ask a Colleague</p>
      </a>
    </li>
    <li class="nav-element">
      <a routerLink="companies" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}">
        <svg width="28" height="28">
          <use xlink:href="assets/svg/companies-icon.svg#companies"></use>
        </svg>
        <p>Companies</p>
      </a>
    </li>
    <li class="nav-element">
      <a routerLink="services" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}">
        <svg width="28" height="28">
          <use xlink:href="assets/svg/services-icon.svg#services"></use>
        </svg>
        <p>Service Directory</p>
      </a>
    </li>
  </ul>
</nav>
